body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  www-prototype {
    flex: 1 1 auto;

    display: flex;

    left, right {
      display: flex;
      flex-direction: column;

      width: 50%;
      max-height: 100%;

      overflow-y: auto;
    }

    left {
      units-display {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;

        overflow-y: auto;

        unit {
          position: relative;

          display: block;

          margin: 0.1em;
          padding: 0.25em;

          white-space: pre-wrap;

          border: solid 1px #ccc;
        }
      }

      input-area {
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;
      }
    }

    right {
      side-by-side {
        display: flex;

        selections {
          background-color: #bbb;
          padding: 0.1em;

          unit-annotator {
            display: block;

            padding: 0.25em;

            background-color: #ccc;
            border: solid 1px #ddd;

            selection {
              display: block;

              white-space: pre-wrap;

              border: solid 1px #ccc;

              background-color: #fff;
            }
          }
        }
      }

      log {
        display: flex;
        flex-direction: column;
      }
    }
  }
}