.viewport {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.search {
	position: absolute;
	width: 100%;
	padding: 5px 30px;
	
}

.papers {
	position: relative;
	width: 100%;
	height: 30%;
	overflow: auto;
}

.paper-detail {
	position: relative;
	width: 100%;
	height: 70%;
	overflow: auto;
}

.papers-grid {
	border: solid 1px #999;
	width: 100%;
	height: 100%;
	padding-top: 46px;
}

.paper-row {
	height: 100%;
}

.paper-row .col-xs-6 {
	height: 100%;
	overflow: auto;
}

.paper-column {
	padding: 0;
	overflow: hidden;
}

.paper-loading {
	background-color: #ccc;
	border: solid 1px #999;
	width: 100%;
	height: 100%;
}

.paper-pdf {
	background-color: #eee;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.paper-pdf-canvas {
	height: 95%;
	width: 100%;
	overflow: auto;
}

.paper-pdf-controls {
	height: 5%;
	width: 100%;
	background-color: #ddd;

}

.paper-pdf-fullscreen {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	border: solid 1px #999;
	-webkit-animation: go-fullscreen 0.1s;
}

@-webkit-keyframes go-fullscreen {
	from {
		position: relative;
		height: 75%;
		width: 50%;
		left: 50%;
		top: 70%;
	}
	to {
		position: fixed;
		top: 1%;
		left: 0px;
		height: 100%;
		width: 100%;
		border: solid 1px #999;
	}
}

#paper-canvas {
	z-index: 9999;
}

.glyphicon-flip {
	display: inline-block;
	-webkit-transform: scaleX(-1);
}